# Dependencies
node_modules

# Next.js
.next
out
# Next が dev 実行時に独自フォーマットで自動書き換えするため prettier 対象外にする
apps/web/tsconfig.json

# Build
build
dist

# Misc
.git
.vscode
*.log
package-lock.json
pnpm-lock.yaml
yarn.lock
